* {
    box-sizing: border-box;
  }
  
  h1, p {
    text-align: center;
    font-weight: 400;
    transform: translateY(-50%);
    position: relative;
  }
  
  .flash {
    display: block;
    position: fixed;
    top: 5px;
    width: 300px;
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    background-color: #3A435E;
    border: 2px solid #5fa8d3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    border: 2px solid #66847C;
    border-radius: 2px;
    color: #66847C;
    transform: translate(-50%, -50%);
    transition: all 0.1s;
  }
  .button:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #66847C;
  }
  .button:active {
    box-shadow: none;
    background-color: #5f7b74;
  }
  
  @-webkit-keyframes drop-in-fade-out {
    0% {
      opacity: 0;
      visibility: visible;
      -webkit-transform: translate3d(0, -200%, 0);
      -moz-transform: translate3d(0, -200%, 0);
      -ms-transform: translate3d(0, -200%, 0);
      -o-transform: translate3d(0, -200%, 0);
      transform: translate3d(0, -200%, 0);
    }
    12% {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    20% {
      opacity: 1;
    }
    70% {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    80% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
      -webkit-transform: translate3d(75%, 0, 0);
      -moz-transform: translate3d(75%, 0, 0);
      -ms-transform: translate3d(75%, 0, 0);
      -o-transform: translate3d(75%, 0, 0);
      transform: translate3d(25%, 0, 0);
    }
  }
  @-moz-keyframes drop-in-fade-out {
    0% {
      opacity: 0;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    12% {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    20% {
      opacity: 1;
    }
    70% {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    80% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
      -webkit-transform: translate3d(75%, 0, 0);
      -moz-transform: translate3d(75%, 0, 0);
      -ms-transform: translate3d(75%, 0, 0);
      -o-transform: translate3d(75%, 0, 0);
      transform: translate3d(25%, 0, 0);
    }
  }
  @-o-keyframes drop-in-fade-out {
    0% {
      opacity: 0;
      visibility: visible;
      -webkit-transform: translate3d(0, -200%, 0);
      -moz-transform: translate3d(0, -200%, 0);
      -ms-transform: translate3d(0, -200%, 0);
      -o-transform: translate3d(0, -200%, 0);
      transform: translate3d(0, -200%, 0);
    }
    12% {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    20% {
      opacity: 1;
    }
    70% {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    80% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
      -webkit-transform: translate3d(75%, 0, 0);
      -moz-transform: translate3d(75%, 0, 0);
      -ms-transform: translate3d(75%, 0, 0);
      -o-transform: translate3d(75%, 0, 0);
      transform: translate3d(25%, 0, 0);
    }
  }
  @keyframes drop-in-fade-out {
    0% {
      opacity: 0;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    12% {
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      -o-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
    20% {
      opacity: 1;
    }
    70% {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      -o-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
    80% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
      -webkit-transform: translate3d(75%, 0, 0);
      -moz-transform: translate3d(75%, 0, 0);
      -ms-transform: translate3d(75%, 0, 0);
      -o-transform: translate3d(75%, 0, 0);
      transform: translate3d(25%, 0, 0);
    }
  }
  .animate--drop-in-fade-out {
    -webkit-animation: drop-in-fade-out 4.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
    -moz-animation: drop-in-fade-out 4.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
    -ms-animation: drop-in-fade-out 4.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
    -o-animation: drop-in-fade-out 4.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
    animation: drop-in-fade-out 4.5s 0.4s cubic-bezier(.32,1.75,.65,.91);
  }
  