{% extends 'base.html' %}

{% block header %}
<h2 class="title">Orders</h2>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div class="flash">
  <div class="flash__icon">
    <i class="icon fa fa-check-circle-o"></i>
  </div>
  <p class="flash__body">{{ msg }}</p>
</div>
{% endfor %}
{% endif %}
{% endwith%}

<h3>Customer</h3>
<table class="magic-table" id="table">
  <thead>
    <tr>
      <th scope="col">Customer ID</th>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>{{ customer.id }}</td>
      <td>{{ customer.date_added.strftime('%d-%m-%Y') }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.email }}</td>
    </tr>

  </tbody>
</table>

<h3>Orders</h3>
<table class="order-table" id="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col">Order</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.date_added.strftime('%d-%m-%Y') }}</td>
      <td><span>£</span>{{ order.price }}</td>
      <td>{{ order.order}}</td>
      <td><a href="{{ url_for('main.delete_order', customer_id=order.customer_id, order_id=order.id) }}"
          class="link-btn" onclick="return confirm('Are you sure you want to delete this order?')">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="form-modal" id="modal">
  <form enctype="multipart/form-data" action="{{ url_for('main.add_order', customer_id=customer.id) }}" method="post"
    class="form" id="order-form">
    <span class="close">&times;</span>
    <!-- start form group -->
    <div class="form-group">
      <input type="text" name="invoice" placeholder=" " id="name" autocomplete="off" required>
      <label for="name" class="label-name">
        <span class="content-name">Invoice</span>
      </label>
    </div>
    <!-- end form group -->

    <!-- start form group -->
    <div class="form-group">
      <input type="text" multiple="multiple" name="price" placeholder=" " id="address" autocomplete="off" required>
      <label for="address" class="label-name">
        <span class="content-name">Price</span>
      </label>
    </div>
    <!-- end form group -->

    <!-- start form group -->
    <div class="form-group">
      <input type="text" multiple="multiple" name="order" placeholder=" " id="address" autocomplete="off" required>
      <label for="address" class="label-name">
        <span class="content-name">Order</span>
      </label>
    </div>
    <!-- end form group -->

    <!-- end form group -->
    <button type="submit" class='submit-form' onclick="validateAndSend()">Submit</button>
  </form>
</div>



{% endblock %}