{% extends 'base.html' %}

{% block content %}

    {% if not customers %}
    <div class="badSearchContainer">
        <h2 class="badSearchTitle">Sorry, that customer doesn't exist &#128542;</h2>
    </div>

    {% else %}
    <table class="magic-table" id="table">
        <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td >{{ customer.id }}</td>
                <td>{{ customer.date_added.strftime('%d-%m-%Y') }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.email }}</td>
                <td><a href="{{ url_for('main.orders', customer_id=customer.id) }}" class="view" id="table-view">View</a></td>  
            </tr>
            {% endfor %}
    </tbody>
    </table>
    {% endif %}

{% endblock %}

